{% extends 'wbxSiteBundle::layout.html.twig' %}

{% block content %}

    <div class="six columns offset-by-five">
        <h4>{{ entity.title }}</h4>
        <h6>by {{ entity.author }}</h6>
        <p>{{ entity.text }}</p>
    </div>

{% endblock %}