{% extends 'wbxAdminBundle::layout.html.twig' %}


{% block content %}

    {% include 'wbxAdminBundle::flashes.html.twig' %}

    <form action="{{ path('admin_post_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'wbxAdminBundle:Post:form.html.twig' with { 'form' : form } %}
    </form>

    <div class="row"></div>

{% endblock %}


{% block my_js %}
     {{ parent() }}
     {% include 'wbxAdminBundle:PostFile:embed.js.twig' with { 'files' : form.files } %}
    {% include 'wbxAdminBundle:Comment:embed.js.twig' with { 'comments' : form.comments } %}
 {% endblock %}